{{#resume.basics}}
{{#if profiles}}
<section class="profiles">
    <div class="row centre wide no-print">
        {{#each profiles}}
            {{#if network}}
                {{#if username}}
                    <div class="url">
                        <a href="{{url}}">
                            {{> info-tag text=this.username href=this.url icon=(concat "fa-"
                            (lowercase network)) }}</a>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</section>
{{/if}}
{{/resume.basics}}
