<section class="references">
    {{> section-heading icon="quote-left" value="References"}}

    {{#if resume.references.length}}
        <div class="grid">
        {{#each resume.references}}

            <div class="line"></div>
            <div class="row wide inherit-height">
                <div class="column fill">
                    {{#if name}}
                        <h6>{{name}}</h6>
                    {{/if}}
                </div>

                <div class="column">
                    {{#if summary}}
                        <p>
                            {{summary}}
                        <p> 
                    {{/if}}
                </div>
            </div>
        {{/each}}
        </div>
    {{else}}
        <p>References are available on request</p>
    {{/if}}
</section>
